<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Szerkesztés:</h1>

<form th:action="@{/updateSubject}" method="post" th:object="${subject}">
    Id: <span th:text="*{id}" > </span><br>
    <input th:field="*{id}" type="hidden" />
    Felhasználó id: <input type="number" min="1" th:field="*{subjectId}" /> <br/>
    Kezdő dátum: <input type="date" th:field="*{dateFrom}" /> <br/>
    Záró dátum: <input type="date" th:field="*{dateTo}" /> <br/>
    Testsúly(KG): <input type="number" min="10" th:field="*{weight}" /> <br/>
    <input type="submit" value="Mentés" />
</form>
</body>
</html>


