<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Testsúly rögzítő alkalmazás</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
<div class=" d-flex justify-content-center my-5">
    <h1>Üdvözöli Önt a testsúly rögzítő alkalmazás!</h1>
</div>
<div class=" d-flex justify-content-center my-5">
    <h2>Kedves Felhasználó!</h2>
</div>
<div class=" d-flex justify-content-center my-">
    <p>A programmal a következő URL-en kommunikálhat:</p>
</div>
<div class=" d-flex justify-content-center my-3">
    <p><i><a href="http://localhost:8080/subjects">http://localhost:8080/subjects</a></i></p>
</div>

</body>

</html>